In [1]:
import pandas as pd
df = pd.read_csv("data/students.csv")
print(df)

    study_hours_per_week  leetcode_solved  days_active preferred_study_time  \
0                     12              450            6                Night
1                      5              120            3              Morning
2                      9              300            5            Afternoon
3                     15              700            7                Night
4                      4               80            2              Morning
5                     11              400            6                Night
6                      6              150            4            Afternoon
7                     13              500            6                Night
8                      3               60            2              Morning
9                      8              200            5            Afternoon
10                    14              650            7                Night
11                     7              180            4            Afternoon
12                    10              350            6                Night
13                     2               40            1              Morning
14                     9              270            5            Afternoon
15                    12              420            6                Night
16                     5              110            3              Morning
17                    11              390            5            Afternoon
18                    15              720            7                Night
19                     4               95            2              Morning

    project_count  hackathon_participation  topic_count       name
0               3                        2            5      Aditi
1               1                        0            2       Riya
2               2                        1            4       Sana
3               5                        3            6  Hemalatha
4               0                        0            1      Pooja
5               3                        2            5      Meera
6               1                        1            3     Ananya
7               4                        2            5      Farah
8               0                        0            1    Lakshmi
9               2                        1            3     Simran
10              5                        3            6       Diya
11              1                        1            3      Nisha
12              3                        2            4      Kavya
13              0                        0            1    Gayatri
14              2                        1            3      Salma
15              3                        2            5    Preethi
16              1                        0            2     Shreya
17              2                        1            4      Rekha
18              5                        3            6       Isha
19              0                        0            2     Monika

In [2]:
df.head()

,study_hours_per_week,leetcode_solved,days_active,preferred_study_time,project_count,hackathon_participation,topic_count,name
0,12,450,6,Night,3,2,5,Aditi
1,5,120,3,Morning,1,0,2,Riya
2,9,300,5,Afternoon,2,1,4,Sana
3,15,700,7,Night,5,3,6,Hemalatha
4,4,80,2,Morning,0,0,1,Pooja

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   study_hours_per_week     20 non-null     int64
 1   leetcode_solved          20 non-null     int64
 2   days_active              20 non-null     int64
 3   preferred_study_time     20 non-null     object
 4   project_count            20 non-null     int64
 5   hackathon_participation  20 non-null     int64
 6   topic_count              20 non-null     int64
 7   name                     20 non-null     object
dtypes: int64(6), object(2)
memory usage: 1.4+ KB

In [4]:
df.describe()

,study_hours_per_week,leetcode_solved,days_active,project_count,hackathon_participation,topic_count
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,8.75000,309.250000,4.600000,2.150000,1.250000,3.550000
std,4.10231,216.018244,1.875044,1.694418,1.069924,1.700619
min,2.00000,40.000000,1.000000,0.000000,0.000000,1.000000
25%,5.00000,117.500000,3.000000,1.000000,0.000000,2.000000
50%,9.00000,285.000000,5.000000,2.000000,1.000000,3.500000
75%,12.00000,427.500000,6.000000,3.000000,2.000000,5.000000
max,15.00000,720.000000,7.000000,5.000000,3.000000,6.000000

In [8]:
df.columns

Index(['study_hours_per_week', 'leetcode_solved', 'days_active',
       'preferred_study_time', 'project_count', 'hackathon_participation',
       'topic_count', 'name'],
      dtype='object')

In [9]:
df.iloc[0]

study_hours_per_week          12
leetcode_solved              450
days_active                    6
preferred_study_time       Night
project_count                  3
hackathon_participation        2
topic_count                    5
name                       Aditi
Name: 0, dtype: object

In [17]:
df[df["name"] == "Aditi"]

,study_hours_per_week,leetcode_solved,days_active,preferred_study_time,project_count,hackathon_participation,topic_count,name
0,12,450,6,Night,3,2,5,Aditi

In [22]:
df.loc[df["name"] == "Hemalatha", ["leetcode_solved", "days_active"]]

   leetcode_solved  days_active
3              700            7

In [ ]:
df.iloc[0] #index based

study_hours_per_week          12
leetcode_solved              450
days_active                    6
preferred_study_time       Night
project_count                  3
hackathon_participation        2
topic_count                    5
name                       Aditi
Name: 0, dtype: object

In [33]:
df.loc[(df["leetcode_solved"] > 300) & (df["hackathon_participation"] > 2),["name","leetcode_solved","hackathon_participation"]]

         name  leetcode_solved  hackathon_participation
3   Hemalatha              700                        3
10       Diya              650                        3
18       Isha              720                        3

In [ ]:
df[df["preferred_study_time"].isin(["Morning","Night"])]

,study_hours_per_week,leetcode_solved,days_active,preferred_study_time,project_count,hackathon_participation,topic_count,name
0,12,450,6,Night,3,2,5,Aditi
1,5,120,3,Morning,1,0,2,Riya
3,15,700,7,Night,5,3,6,Hemalatha
4,4,80,2,Morning,0,0,1,Pooja
5,11,400,6,Night,3,2,5,Meera
7,13,500,6,Night,4,2,5,Farah
8,3,60,2,Morning,0,0,1,Lakshmi
10,14,650,7,Night,5,3,6,Diya
12,10,350,6,Night,3,2,4,Kavya
13,2,40,1,Morning,0,0,1,Gayatri
15,12,420,6,Night,3,2,5,Preethi
16,5,110,3,Morning,1,0,2,Shreya
18,15,720,7,Night,5,3,6,Isha
19,4,95,2,Morning,0,0,2,Monika

In [38]:
df.loc[df["preferred_study_time"].isin(["Morning","Night"]),["name","leetcode_solved","preferred_study_time"]]

         name  leetcode_solved preferred_study_time
0       Aditi              450                Night
1        Riya              120              Morning
3   Hemalatha              700                Night
4       Pooja               80              Morning
5       Meera              400                Night
7       Farah              500                Night
8     Lakshmi               60              Morning
10       Diya              650                Night
12      Kavya              350                Night
13    Gayatri               40              Morning
15    Preethi              420                Night
16     Shreya              110              Morning
18       Isha              720                Night
19     Monika               95              Morning

In [48]:
a = df.groupby("preferred_study_time")["leetcode_solved"].mean()
a.to_frame()
a.sort_values(ascending=False)

preferred_study_time
Night        523.750000
Afternoon    248.333333
Morning       84.166667
Name: leetcode_solved, dtype: float64